

html {
--cup-color: #e6ded9;
--cup-width: 30vw;
--cup-height: 24vw;

--cup-border-width: 2vw;
--cup-inside-width: calc(var(--cup-width) - var(--cup-border-width));
--cup-inside-height: calc(var(--cup-height) - var(--cup-border-width));
--border-width: 1vw;
--main-border: var(--border-width) solid var(--cup-color);


--coffee-bottom: 80%;
--water-bottom: 0;
--milk-bottom: 0;
--liquor-bottom: 0;
--whipped_cream-bottom: 0;
--steamed_milk-bottom: 0;
--milk_foam-bottom: 0;
--chocolate-bottom: 0;
}


body {
    height: 100vh;
    width: 100vw;
    background: #845b42;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
}

.coffee_list {
    color: #f1faee;
    text-align: center;
/*   width: 100%; */
    font-size: 4vw;
}

.options {

    display: grid;
    grid-gap: 1.5vh;
    grid-template-rows: repeat(10, 35px);
    grid-template-columns: 120px;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.options button {

    background: rgba(214, 217, 227, 0.6);
    outline: none;
    font-size: 1rem;
    border: 2px solid #e6ded9;
    box-shadow: none;
    color: #363636;
    box-sizing: border-box;
    border-radius: 1vh;
}

.options button:hover {
    cursor: pointer;
    border-width: 4px;
    background: rgba(255, 255, 255, 0.6);
}
.options .selected {
    border-color: #845b42;
    border-width: 4px;
    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    color: #845b42;
}

.cup {
    width: var(--cup-width);
    height: var(--cup-height);
    border-radius: 0 0 10vw 10vw;
    position: relative;
    background-color: var(--cup-color);
    z-index: 10;
    box-sizing: border-box;
}



.test {
    
    position: absolute;
    left: calc(var(--cup-border-width) / 2);
    bottom: calc(var(--cup-border-width) / 2);
    width: var(--cup-inside-width);
    height: var(--cup-inside-height);
    overflow: hidden;
    border-radius: 0 0 10vw 10vw;
    background-color: #845b42;
    bottom: 1vw;
}

.test div {
    position: absolute;
    width: 100%;
    transition: all 1s linear;
    color: #845b42;
    padding-top: 2px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 0;
    overflow: hidden;
    font-size: 2.6vw;
    height: 100%;
    bottom: -100%;
    box-sizing: border-box;
}

.test.reset.Americano {
    --water-bottom: 0;
    --coffee-bottom: -60%;
}
.test.reset.au_lait {
    --coffee-bottom: -50%;
    --milk-bottom: 0%;
}
.test.reset.capuccino {
    --coffee-bottom: -65%;
    --steamed_milk-bottom: -35%;
    --milk_foam-bottom: 0;
}
.test.reset.espresso {
    --coffee-bottom: -60%;
}
.test.reset.latte {
    --coffee-bottom: -60%;
    --steamed_milk-bottom: -20%;
    --milk_foam-bottom: 0%;
}

.test.reset.lungo {
    --water-bottom: 0;
    --coffee-bottom: -50%;
}
.test.reset.macchiato {
    --coffee-bottom: -70%;
    --milk_foam-bottom: 0;
}
.test.reset.mocha {
    --coffee-bottom: -60%;
    --chocolate-bottom: -40%;
    --steamed_milk-bottom: -20%;
    --whipped_cream-bottom: 0%;
}
.test.reset.ristretto {
    --coffee-bottom: -80%;
}

div.chocolate {
    background: #391e09;
    bottom: var(--chocolate-bottom);
    z-index: 6;
}
div.coffee {
    background: #261406;
    bottom: var(--coffee-bottom);
    line-height: 4vw;
    z-index: 7;
}
div.liquor {
    background: #fc8626;
    bottom: var(--liquor-bottom);
    z-index: 4;
}
div.milk {
    background: #f0ebe5;
    bottom: var(--milk-bottom);
    z-index: 2;
}
div.milk_foam {
    background: #fceecb;
    bottom: var(--milk_foam-bottom);
    z-index: 5;
}

div.steamed_milk {
    background:#ffd7b3;
    bottom: var(--steamed_milk-bottom);
    z-index: 6;
}
div.water {
    background:#b1dce2;
    bottom: var(--water-bottom);
}
div.whipped_cream {
    background: #fceecb;
    bottom: var(--whipped_cream-bottom);
    z-index: 4;
}

.test.reset {
    --coffee-bottom: -100%;
    --water-bottom: -100%;
    --milk-bottom: -100%;
    --liquor-bottom: -100%;
    --whipped_cream-bottom: -100%;
    --steamed_milk-bottom: -100%;   
    --milk_foam-bottom: -100%;
    --chocolate-bottom: -100%;
}

@media only screen and (min-width:1024px) {
    .options {
        display: grid;
        grid-gap: 2vh;
        grid-template-rows: repeat(8, 42px);
        grid-template-columns: 240px;
    }
    .options button {
        font-size: 2rem;

    }
}