* {
    padding: 0;
    margin: 0;
}

#wrap {
    width : 1200px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 150px;
    background: #0d47a1;
}

.header .header_menu {
    text-align: right;
}

.header .header_menu a {
    color: #fff;
    padding: 8px 0 6px 10px;
    display: inline-block;
    transition: color 0.3s ease;
}

.header .header_title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}


.header .header_menu a:hover { color: #ccc; }

.container {
    width: 1200px;
    margin: 0 auto;
    background: rgb(0, 0, 500);
}

.header_title {
    text-align: center;
    text-transform: uppercase;

}

nav {
    width: 20%;
    height: 700px;
    background: #1565c0;
    float: left;
}

section {
    width: 80%;
    height: 700px;
    background: #1e88e5;
    float: left;
}

footer {
    width: 100%;
    height: 150px;
    background: #bbdefb;
    clear: both;
}

/* PC Screen width : 769 ~ 1200 */
@media (max-width: 1220px) {
    #wrap {
        width: 95%;
    }
    .container {
        width: 100%;
    }
    .row {
        padding: 0 15px;
    }
}

/* Table Screen width : 481 ~ 768 */
@media (max-width: 768px) {
    #wrap {
        width: 100%;
    }
    .container {
        width: 100%;
    }
    .row {
        padding: 0 15px;
    }
}

/* Mobile Screen width : 0 ~ 480 */
@media (max-width: 480px) {
    #wrap {
        width: 100%;
    }
    .container {
        width: 100%;
    }
    .row {
        padding: 0 15px;
    }
    header {
        height: 100px;
    }
    nav {
        width: 100%;
        height: 100px;
        float: none;
    }
    section {
        width: 100%;
        height: 300px;
        float: none;
    }
}

:root{
    --iframe-width:1280;
    --iframe-height:729;
}