@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '116angmuburi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.0/116angmuburi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, button{
    font-family: '116angmuburi';
}

.home{
    position: fixed;
    width: 40px;
    height: 40px;
    top:30px;
    left:40px;
}

