
:root{
    --display-width:360px;
    --display-height:400px;
}
header{
    height: 15vh;
}
body{
    margin: 0;
    padding: 0;
    background: #fceecb;
    
}
.test{
    display: flex;
    justify-content: center;
    align-content: center;
}

main{    
    position:fixed;
    font-size: 2em;

    /* view width, height 사용자반응형 */
    width: var(--display-width);
    height: var(--display-height);
    
    /* grid template 이용하여 간단하게구성 */
    display: grid;
    grid-template-columns: repeat(2,calc(var(--display-width) / 2));
    grid-template-rows: repeat(2,calc(var(--display-height) / 2));
    /* grid 사이 빈공간 */
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

main .menu{
    /* 메뉴색깔지정 */
    background: #845b42;
    color: #ffffff;
    
    text-decoration-line : none;
    display: grid;   
    /* 테두리둥글게 */
    border-radius: 15px;
}
/* mouse hover event */
main .menu:hover{
    cursor:pointer;
    font-size: 150%;
}
/* click event */
.menu:active{
    background-color:sienna;

}
.menuText{
    
    margin:0;
    padding: 0;
    
    justify-self: center;
    align-self: center;
}


@media (max-width: 30em) {
    .inner-container {
      width: 100%;
    }
  
    .login-container {
      width: calc((100% - 50px) / 3 * 2);
    }
}