*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.fbx{
    display: flex;
    align-items: center; 
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
     margin-top: 4px;
     z-index: 1;
     padding: 0 15px;

}
.header_container{
    height:70px;
    background-color: #fff;
    width: 1920px;
    max-width: 100%;
    justify-content: space-between;
    padding: 0 30px;
    border-radius: 35px;
}
section{
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain ;
    padding: 0 15px;

}
section.right{
    background-position: left center;
} 
section:first-of-type{
    background-size: cover;

}

.sec_container{
    width: 1024px;
    max-width: 100%;
    margin:0 auto;
    padding: 140px 0;
    color: #fff;

 }
 .right .sec_container{
    text-align: right;
    
}
.sec_container.home{
    padding-top: 250px;
}
h2{
    font-weight: 300;   
    font-style: 40px;
    margin-bottom: 40px;
}
.sec_content{
    line-height: 1.7;
    margin-bottom: 40px;
    transform: translateY();
}
@media only screen and (min-width:1025px) {
    .fullsc{
        background-color: springgreen ;
        height: 100vh;
        overflow: hidden; 
        position: relative;
    }
    .fullsc .main_content{
        position: absolute;width: 100px;top: 0;left: 0;
        transition: transform 0.57s ease-out;    
    }
    .fullsc section{
        height: 100vh;
        padding-top: 110px;
    }
    .fullsc .sec_container.home{
        padding-top: 140px;
    }
}    