*{
    user-select: none;
    -ms-user-select: none;
    outline: 0;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body{


    background-color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* https://stackoverflow.com/questions/5127937/how-to-center-canvas-in-html5 */
canvas {
    
    aspect-ratio: 1/1;
    background-color: white;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    overflow: hidden;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 8;
    
}

.e{
    overflow: hidden;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.mask{
    margin-right: 10px;
    z-index: 9;
    fill: white;
}
html{
    width: 100%;
    height: 100%;
    
}

.button{
    position: fixed;
    grid-gap: 2vw;
    margin-top: 70vh;
    z-index: 14;
    display: flex;
    transform: scale(2.0);
}
button:hover{
    cursor:pointer;
}
#mini{
    
    width: 476px;
    height: 476px;
    position: absolute;
    z-index: 1;
}




.temp{
    position: fixed;
    width: 100vw;
    height: 6.1vh;
    background-color: white;
    top:70vh;   
    text-align: center;
    z-index: 13;
}
.recipe{
    width: 100%;
    font-size: 4vh;
}

.water{
    color: rgb(100, 149, 237);
    color: cornflowerblue;
    font-size: 70%;
}
.coffeee{
    color: #3E1D08;
    font-size: 70%;
}
.milk{
    color:black;
    font-size: 70%;
}
.milkform{
    color: #fffaeb;
    font-size: 70%;
}
.caramel{
    color: #c14900;
    font-size: 70%;
}
header{
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 10vh;
    bottom: 0;
    left: 10vw;
    right: 0;
    z-index: 4;
}

.subheading{
    display: flex;
    font-size: 3rem;
    
    margin-bottom: 350px;
    left: 0;
    right: 0;
    z-index: 9;
}
@media (max-width: 480px) {
    .button{
            position: fixed;
            grid-gap: 2vw;
            margin-top: 70vh;
            z-index: 14;
            display: flex;
            transform: scale(1.4);
    }
}
nav{
    position: absolute;
    top:0vh;
    width: 100vw;
    height: 55px;
}
.navbar li a{
    font-size: 3rem;
    width: 100vw;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    flex-direction: column;
}
.logo{
    width: 120px;
}
.navbar_logo{
    width: 100%;
}